body {
  background: #f2f2f2;
  color: black;
}
nav {
  margin: 10px auto;
  padding: 10px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #333;
}
nav a {
  color: white;
  text-decoration: none;
  margin-left: 12px;
  font-size: 18px;
  padding: 10px;
}
nav a:hover {
  color: aqua;
}
