body {
  background: #f4edea;
  color: black;
  margin:0;
  min-height: 5000px;
  /* padding-top: 60px; */
}

nav {
  /* make navbar always fix at the top */
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 9999;

  padding: 15px 0;
  display: flex;
  height: 55px;
  justify-content: center;
  align-items: center;
  background: #f4edea;
  
}
nav a {
  color: white;
  text-decoration: none;
  margin-left: 12px;
  margin-right: 12px;
  font-size: 18px;
  padding: 10px;
}
nav a:hover {
  color: turquoise;
}
nav .logo {
  margin-right: none;
  padding-left: 10px;
}
